<server>
  <featureManager>
    <!-- manage background threads -->
    <feature>concurrent-3.0</feature>
    <!-- host a web service with a REST API -->
    <feature>restfulWS-3.1</feature>
    <!-- support for JSON payloads -->
    <feature>jsonb-3.0</feature>
    <!-- read Kafka config from properties file -->
    <feature>mpConfig-3.1</feature>
    <!-- support healthcheck/readiness/liveness endpoints -->
    <feature>mpHealth-4.0</feature>
  </featureManager>

  <httpEndpoint
    id="defaultHttpEndpoint"
    host="*"
    httpPort="${http.port}"
    httpsPort="${https.port}"/>

  <webApplication
    contextRoot="${app.context.root}"
    location="kafka-projection-memory.war"/>
</server>
